# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.env

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Database / logs
*.sqlite3
*.db
*.log

# Coverage / testing
htmlcov/
.coverage
.pytest_cache/

# OS
.DS_Store
Thumbs.db
